big map with pins.

First I needed to get a list of every pod they have, and the lat and long so I can map them. They already use google maps on the site, so I figured that would expose some URI endpoint for serving up lists of pods with their current booked/unbooked status.

After digging around for a bit, I found that rather than fetching pods dynamically, goget renders details of every single pod in the country in a javascript file. for instance:

var image_url0="http://www.goget.com.au/bookings//secret/plugins/available_now_plugin/icons/arrow_green.gif";
var point0 = new google.maps.LatLng(-33.899, 151.183);
var info0 = "<iframe frameborder=0 scrolling=auto height=150 width=100% src=http://www.goget.com.au/bookings/locations/podPopup.php?pod_id=2 width=100%></iframe>";
createPod(point0, info0,image_url0);

var image_url1="http://www.goget.com.au/bookings//secret/plugins/available_now_plugin/icons/arrow_green.gif";
var point1 = new google.maps.LatLng(-33.8939, 151.1776);
var info1 = "<iframe frameborder=0 scrolling=auto height=150 width=100% src=http://www.goget.com.au/bookings/locations/podPopup.php?pod_id=4 width=100%></iframe>";
createPod(point1, info1,image_url1);

...and so on for all 918 pods

So this is handy, I have a location for every pod but I don't know what vehicle resides in each pod. There doesn't seem to be an easy way to make the association between pod and vehicle. 

From digging about in the bookings area, it seems like vehicle id == room number, and first impressions suggest that there is only 1 vehicle per pod. Maybe they're using a room bookings system for the cars?

http://www.goget.com.au/bookings/show_vehicle.php?vehicle_id=200

I can use this bookings page for vehicle 200: http://www.goget.com.au/bookings/edit_entry.php?rt=1&room=200

Vehicle and pod id shown in form... i need all vehicle id's to get this... or do i?... maybe i can do a loop thru all the ids up to 1600 and see what I find.

Looks like the bookings page has all i need. There's a hidden field in there with the pod_id and the vehicle_id is also shown. This is gives me my join. It also gives me some handy stuff like the name of the vehicle and pod.


vehicle_name = page.parser.xpath("//option[@value='200']").text.split(' - ').first
pod_name = page.parser.xpath("//td[text()='Pod Name:']/following-sibling::td[1]").text
area_id = page.parser.xpath("//td[text()='Pod Name:']/following-sibling::td[1]/a").last.attributes["href"].value.split('=').last.to_i
pod_id = page.form('main')['pod'].to_i


